@{
    ViewBag.Title = "About";
}
<h2 style="color:#edaa3f" id="aboutjobby"> <span style="color:#7d1e1e">Job<span style="color:#edaa3f">b</span>y</span>..!<span style="color:#7d1e1e">!</span></h2>
<hr />

<div class="row">



    <div class="col-md-8">

        <p class="h4" style="font-family:'Times New Roman', Times, serif; font-size:x-large ">
            <b style="color:#7d1e1e; font-size:x-large ">jobby</b> is a free website for providing  job vacanies for Job seekers that posted by HR Employees, Job seeker visit our site to find A job in his related Field
            and then can apply for or save it later , We also help Companies and employee to Advertise new Job application and hire new employee .
            Jobby is created by @Html.ActionLink("@Mohammed Fathi","Mofathi")
        </p>
        <br />


        <h2 style="color:#7d1e1e"> Looking For A job ?</h2>
        <p class="h4" style="font-family:'Times New Roman', Times, serif; font-size:x-large">
            If you are searching for a new career opportunity, you can search
            open vacancies and jobs.You can also signup here to be alerted
            of new jobs by email.
        </p>
        <br />

        <h2 style="color:#7d1e1e"> Are you a recruiter or employer?</h2>
        <p class="h4" style="font-family:'Times New Roman', Times, serif; font-size:x-large">
            If you are currently hiring, and would like to advertise your jobs on <b style="color:#7d1e1e; font-size:x-large ">jobby</b> please signup for an employer account and post your jobs right away
        </p>

        <br />

        <h2 style="color:#7d1e1e">Other inquiries?</h2>
        <p class="h4" style="font-family:'Times New Roman', Times, serif; font-size:x-large">
            If you have any other inquiries, please contact us @Html.ActionLink("Here","Contact","Home")
        </p>




    </div>

    <div class="col-md-2" style="margin-left:140px; ">


        <img src="~/img/about-us.png"  style="height:400px;"/>

        
    </div>













</div>





