<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>jobbyapp-001-site1.gtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jobbyapp-001-site1.gtempurl.com:8172/MsDeploy.axd?site=jobbyapp-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>jobbyapp-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>jobbyapp-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="&quot;Data Source=SQL5052.site4now.net;Initial Catalog=DB_A65162_tbljobby;User Id=DB_A65162_tbljobby_admin;Password=Tbljobby@93&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Jobby.Models.ApplicationDbContext, Jobby" MigrationConfiguration="Jobby.Migrations.Configuration, Jobby" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5052.site4now.net;Initial Catalog=DB_A65162_tbljobby;User Id=DB_A65162_tbljobby_admin;Password=Tbljobby@93"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>